:root {
    --color-light: white;
    --color-golen: yellow;
    background: url(imgIndex/cool-background.png) center/cover;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100;
    background-color: var(--color-dark);
    color: var(--color-light);
    letter-spacing: .05rem;
}

/*------------------------------------MENU PRICIPAL-------------------------------------------*/
/*Imagenes del menu pricipal*/
.IconVer {
    width: 69px;
    border-radius: .90rem;
    transform: rotate(90deg);
    background: white;
    margin-top: -56px;
}

/*Posición de las imagenes del menu principal*/
.sideways {
    writing-mode: vertical-lr;
    margin: 5.5rem 0;
    display: block;
    transform: rotate(-180deg);
}


.lead-xl {
    font-size: 1.75rem;
}

.boder-fila {
    border-right: 1px solid wheat;
}

.nav-link {
    margin-left: 5rem;
}


/*Boton Star Now*/
.btn-primary {
    background-color: transparent;
    border: 1px solid;
    color: var(--color-golen);
    border-radius: 0;
    padding: .7rem 2.5rem;
    font-size: 1.25rem;
}

.btn-primary:hover {
    background-color: var(--color-dark);
    color: var(--color-light);
    border: 1px solid var(--color-light);
}

/*Boton Inici*/
.btnI {
    background-color: transparent;
    border: 1px solid;
    color: var(--color-golen);
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
}

.btnI:hover {
    background-color: var(--color-golen);
    color: var(--color-light);
    border: 1px solid var(--color-light);
}

/*d-flex info*/
.info {
    text-align: center;
}

/*Imagen principal del menu*/
.img1 {
    Width: 500px;
    padding: 2rem;
}

/*IMAGÉN PRINCIPAL DEL PORTAFOLIO*/
.IMA {
    text-align: center;
}

.circle-image-container {
    width: 350px; /* Ajusta el tamaño según sea necesario */
    height: 350px; /* Ajusta el tamaño según sea necesario */
    overflow: hidden;
}

.circle-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 992px) {
    .circle-image-container {
        width: 100%; /* Ajusta el tamaño para dispositivos móviles */
        height: auto; /* Ajusta el tamaño para dispositivos móviles */
        margin-top: 20px;
    }
}

/*------------------------------------MENU PRICIPAL-------------------------------------------*/



/*Imagen apartado projectes elaborats*/
.IMG2 {
    width: 100%;
}

/*.TextProjectesElaborats {
    color: rgb(17, 17, 230);
    text-shadow: 2px 1px 1px rgb(64, 255, 0);
}*/

/*CARTAS*/
.CARD1 {
    color: red;
    text-shadow: 2px 1px 3px;
}


@media (max-widht: 991.98px) {
    .CARD1 {
        text-align: center;
        padding-right: 100px;
    }

    .content {
        padding: 5rem;
    }

}

/*--------------------------Imagen responsive para telefonos--------------------------*/


@media (max-width: 576px) {

    /* Estilos para pantallas aún más pequeñas */
    .img1 {
        width: 25rem;
    }

    .info {
        margin-top: 3rem;
    }

    .IMA {
        text-align: center;
    }

    .img2 {
        width: 10rem;
        margin-left: 10rem;
    }

    .img3 {
        width: 10rem;
        margin-left: 4.3rem;
    }

    .ResponsiTextPresentacion {
        margin-right: 1rem;
    }

    .ResponsiTextPresentacion1,
    .ResponsiTextPresentacion2,
    .ResponsiTextPresentacion3 {
        width: 18rem;
        text-align: center;
    }

    .ResponsiTextPresentacion3 {
        margin-left: 6rem;
    }

}

@media (min-width: 992.00px) {

    /* Estilos para pantallas aún más pequeñas */
    .img1 {
        width: 20rem;
    }

    .IconVer {
        width: 3rem;
    }

    .sideways {
        margin-top: 15px;
        margin-bottom: 4.4rem;
    }

}

@media (min-width: 1190.40px) {

    .ResponsiGrandeImgfilas {
        height: 38.5rem;
    }

    /*Imagenes del menu pricipal*/
    .IconVer {
        width: 3rem;
        margin-bottom: 1.5rem;
    }

    .img1 {
        width: 24rem;
    }
}

/*--------------------------Imagen responsive para telefonos--------------------------*/


/*--------------------------Imagen responsive para Dispositivos más grandes--------------------------*/

@media (min-width: 1352.73px) {

    .ResponsiGrandeImgfilas {
        height: 43.9rem;
    }

    /*Imagenes del menu pricipal*/
    .IconVer {
        width: 3.5rem;
        margin-bottom: 1.8rem;
    }

    .img1 {
        width: 28rem;
    }
}

@media (min-width: 1488px) {
    .ResponsiGrandeImgfilas {
        height: 48.4rem;
    }

    /*Imagenes del menu pricipal*/
    .IconVer {
        width: 4.1rem;
        margin-bottom: 1.8rem;
    }

    .img1 {
        width: 30.5rem;
    }
}

@media (min-width: 1653.33px) {

    .ResponsiGrandeImgfilas {
        height: 53.9rem;
    }

    /*Imagenes del menu pricipal*/
    .IconVer {
        width: 4.2rem;
        margin-bottom: 2.5rem;
    }

    .img1 {
        width: 34.2rem;
    }
}

@media (min-width: 1860px) {

    .ResponsiGrandeImgfilas {
        height: 60.7rem;
    }

    /*Imagenes del menu pricipal*/
    .IconVer {
        width: 5rem;
        margin-bottom: 2.8rem;
    }

    .img1 {
        width: 38.5rem;
    }

}

@media (min-width: 1984.00px) {

    .ResponsiGrandeImgfilas {
        height: 64.8rem;
    }

    /*Imagenes del menu pricipal*/
    .IconVer {
        width: 5rem;
        margin-bottom: 3rem;
    }

    .img1 {
        width: 40rem;
    }
}

@media (min-width: 2232px) {

    .ResponsiGrandeImgfilas {
        height: 73rem;
    }

    /*Imagenes del menu pricipal*/
    .IconVer {
        width: 5.5rem;
        margin-bottom: 3.5rem;
    }

    .img1 {
        width: 46rem;
    }
}

@media (min-width: 2976px) {

    .ResponsiGrandeImgfilas {
        height: 97rem;
    }

    /*Imagenes del menu pricipal*/
    .IconVer {
        width: 8rem;
        margin-bottom: 4.2rem;
    }

    .img1 {
        width: 60rem;
    }
}


@media (min-width: 4464.00px) {

    /*Imagenes del menu pricipal*/

    .ResponsiGrandeImgfilas {
        height: 147rem;
    }

    .IconVer {
        width: 12rem;
        margin-bottom: 8rem;
    }

    .img1 {
        width: 90rem;
    }
}

@media (min-width: 5952px) {

    /*Imagenes del menu pricipal*/

    .ResponsiGrandeImgfilas {
        height: 196rem;
    }

    .IconVer {
        width: 16rem;
        margin-bottom: 10rem;
    }

    .img1 {
        width: 120rem;
    }
}

/*--------------------------Imagen responsive para Dispositivos más grandes--------------------------*/