:root {
    --color-light: white;
    --color-golden: yellow;
    --color-dark: #333;
    --background-img: url('imgIndex/cool-background.png');
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100%;
    background-color: var(--color-dark);
    color: var(--color-light);
    letter-spacing: .05rem;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background-img) center/cover;
    z-index: -1;
    animation: moveBg 10s infinite alternate;
}

@keyframes moveBg {
    0% {
        transform: scale(1) translate(0, 0);
    }

    50% {
        transform: scale(1.1) translate(10px, -10px);
    }

    100% {
        transform: scale(1) translate(0, 0);
    }
}

/*------------------------------------MENU PRICIPAL-------------------------------------------*/
/*Imagenes del menu principal*/

.IconVer {
    width: 10vw;
    max-width: 69px;
    border-radius: .90rem;
    transform: rotate(90deg);
    background: white;
    margin-top: -56px;
    transition: transform 0.3s, width 0.3s, margin 0.3s;
}

.IconVer:hover {
    transform: rotate(0deg);
}

/*Imagenes debajo de la foto 1_1.png*/
.Git_Lin {
    width: 10vw;
    max-width: 80px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.456);
    opacity: 0.5;
    transition: opacity 0.3s, transform 0.3s;
}

.Git_Lin:hover {
    opacity: 1;
    transform: scale(1.1);
}


.bg-red {
    background-color: #ffffffb6;
}


/*Posición de las imágenes del menú principal*/
/* Estilos adicionales */
.sideways {
    writing-mode: vertical-lr;
    margin: 5.5rem 0;
    display: block;
    transform: rotate(-180deg);
}

.lead-xl {
    font-size: 1.75rem
}

.boder-fila {
    border-right: 1px solid wheat;
}

.nav-link {
    margin-left: 5rem;
}


/*Botón Start Now*/
.btn-primary {
    background-color: transparent;
    border: 1px solid;
    color: var(--color-golden);
    border-radius: 0;
    padding: .7rem 2.5rem;
    font-size: 1.25rem;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.btn-primary:hover {
    background-color: var(--color-dark);
    color: var(--color-light);
    border: 1px solid var(--color-light);
}

/*Botón Inici*/
.btnI {
    background-color: transparent;
    border: 1px solid;
    color: var(--color-golden);
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.btnI:hover {
    background-color: var(--color-golden);
    color: var(--color-light);
    border: 1px solid var(--color-light);
}

/*d-flex info*/
.info {
    text-align: center;
}

/*Imagen principal del menú*/
.img1 {
    width: 500px;
    padding: 2rem;
}

/*IMAGEN PRINCIPAL DEL PORTAFOLIO*/
.IMA {
    text-align: center;
}

.circle-image-container {
    width: 350px;
    height: 350px;
    overflow: hidden;
    margin: 0 auto;
}

.circle-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.3s;
}

.circle-image-container img:hover {
    transform: scale(1.1);
}

@media (max-width: 992px) {
    .circle-image-container {
        width: 100%;
        height: auto;
        margin-top: 20px;
    }
}

/*------------------------------------MENU PRICIPAL-------------------------------------------*/

/* Estilos para imágenes y contenedores */
.IMG2 {
    width: 100%;
}

.CARD1 {
    color: red;
    text-shadow: 2px 1px 3px;
    transition: text-shadow 0.3s;
}

.CARD1:hover {
    text-shadow: 3px 2px 5px;
}

.IconVer {
    width: 3rem;
    border-radius: .90rem;
    transform: rotate(90deg);
    background: white;
    margin-top: -56px;
    transition: transform 0.3s, width 0.3s, margin-bottom 0.3s;
}

.IconVer:hover {
    transform: rotate(0deg);
}

.img1 {
    width: 100%;
    max-width: 30rem;
    padding: 2rem;
    transition: width 0.3s;
}

.img1:hover {
    width: 110%;
}

/* Responsividad */
@media (max-width: 991.98px) {
    .CARD1 {
        text-align: center;
        padding-right: 100px;
    }

    .content {
        padding: 5rem;
    }
}

@media (max-width: 576px) {
    .img1 {
        width: 25rem;
    }

    .info {
        margin-top: 3rem;
    }

    .img2,
    .img3 {
        width: 10rem;
        margin-left: auto;
        margin-right: auto;
    }

    .ResponsiTextPresentacion {
        margin-right: 1rem;
    }

    .ResponsiTextPresentacion1,
    .ResponsiTextPresentacion2,
    .ResponsiTextPresentacion3 {
        width: 18rem;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Optimización y ajuste para pantallas más grandes */
@media (min-width: 992px) {
    .img1 {
        width: 20rem;
    }

    .IconVer {
        width: 3rem;
    }

    .sideways {
        margin-top: 5px;
        margin-bottom: 4.6rem;
    }
}

@media (min-width: 1190px) {
    .ResponsiGrandeImgfilas {
        height: 38.5rem;
    }

    .img1 {
        width: 24rem;
    }

    .IconVer {
        width: 3.5rem;
    }

    .sideways {
        margin-top: 10px;
        margin-bottom: 5.7rem;
    }
}

@media (min-width: 1352px) {
    .ResponsiGrandeImgfilas {
        height: 43.9rem;
    }

    .img1 {
        width: 28rem;
    }

    .IconVer {
        width: 4rem;
    }

    .sideways {
        margin-top: 10px;
        margin-bottom: 6rem;
    }
}

@media (min-width: 1488px) {
    .ResponsiGrandeImgfilas {
        height: 48.4rem;
    }

    .img1 {
        width: 30.5rem;
    }

    .IconVer {
        width: 5rem;
    }

    .sideways {
        margin-top: 10px;
        margin-bottom: 6.4rem;
    }
}

@media (min-width: 1653px) {
    .ResponsiGrandeImgfilas {
        height: 53.9rem;
    }

    .img1 {
        width: 40.2rem;
    }

    .IconVer {
        width: 6rem;
    }

    .sideways {
        margin-top: 25px;
        margin-bottom: 7rem;
    }
}

@media (min-width: 1860px) {
    .ResponsiGrandeImgfilas {
        height: 60.7rem;
    }

    .img1 {
        width: 38.5rem;
    }

    .IconVer {
        width: 8rem;
    }

    .sideways {
        margin-top: 30px;
        margin-bottom: 8rem;
    }
}

@media (min-width: 1984px) {
    .ResponsiGrandeImgfilas {
        height: 64.8rem;
    }

    .img1 {
        width: 400rem;
    }

    .IconVer {
        width: 9rem;
    }

    .sideways {
        margin-top: 40px;
        margin-bottom: 8.6rem;
    }
}

@media (min-width: 2232px) {
    .ResponsiGrandeImgfilas {
        height: 73rem;
    }

    .img1 {
        width: 46rem;
    }

    .IconVer {
        width: 10rem;
    }

    .sideways {
        margin-top: 50px;
        margin-bottom: 9.7rem;
    }
}

@media (min-width: 2976px) {
    .ResponsiGrandeImgfilas {
        height: 97rem;
    }

    .img1 {
        width: 60rem;
    }
}

@media (min-width: 4464px) {
    .ResponsiGrandeImgfilas {
        height: 147rem;
    }

    .img1 {
        width: 90rem;
    }
}

@media (min-width: 5952px) {
    .ResponsiGrandeImgfilas {
        height: 196rem;
    }

    .img1 {
        width: 120rem;
    }

    .IconVer {
        width: 300rem;
    }

    .sideways {
        margin-top: 200px;
        margin-bottom: 20.6rem;
    }
}